/* Styles for the .footer class */
.footer {
    padding: 15px;
    margin: 10px;
    display: grid;
    grid-template-columns: 20px 0.2fr 33rem 12rem;
}

/* Styles for input elements inside .footer */
.footer input {
    grid-column: 3/4;
    border: none;
    border-radius: 2px;
}

/* Styles for the file selector button inside input elements */
input::file-selector-button {
    color: rgb(24, 24, 25);
    background-color: #dcddde;
    text-transform: capitalize;
    height: 3rem;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

/* Styles for the button elements inside .footer */
.footer button {
    color: rgb(247, 247, 249);
    background-color: #4285f4;
    text-transform: capitalize;
    height: 3rem;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
@media screen and (max-width: 1056px) {
    .footer {
        grid-template-columns: 20px 30rem 90px 1fr; /* Change the layout to 2 equal columns */
        height: auto; /* Adjust the height to fit the content */
        margin-top: 2rem; /* Reduce the top margin */
    }
    .footer input {
        grid-column: 2/3;
        border: none;
        border-radius: 2px;
    }
}